{
    "name": "Dit Navn",
    "email": "din@email.com",
    "password": "dit-password",
    "refresh_token_env_key": "ENERGIOVERBLIK_REFRESH_TOKEN",
    "smartme_username": null,
    "smartme_password": null,
    "smartme_directory_id": null
}
