/node_modules
/public/build
/public/hot
/public/storage
/public/build/*
/storage/*.key
/storage/refresh_tokens*
/vendor
.env
.rnd
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
/storage/ewii_cookies/ewii-cookies.json
./revision
