includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
        - '#Parameter \#1 \$response of method App#'
        - '#Static call to instance method App#'
        - '#does not accept default value of type#'
        - '#Unable to resolve the template type TKey in call to function collect#'
        - '#Unable to resolve the template type TValue in call to function collect#'
        - '#no value type specified in iterable type array#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
