includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: storage/framework/cache
    paths:
        - ./app
        - ./artisan
        - ./bootstrap
        - ./database
        - ./public
        - ./resources
        - ./tests

    # Level 9 is the highest level
    level: 7

    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
        - '#Static call to instance method App\\Services\\Transformers\\Facades\\MeteringPointTransformer::#'
        - '#does not accept default value of type#'
        - '#Unable to resolve the template type TKey in call to function collect#'
        - '#Unable to resolve the template type TValue in call to function collect#'
        - '#no value type specified in iterable type array#'
        - '#Call to an undefined method Mockery\\Expectation\:\:shouldReceive\(\)#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
